/* :root {
  --card-border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  body .os-viewport {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position: unset;
  }
}

.box,
.card {
  border-radius: var(--card-border-radius);
}

.card .card-image:first-child img {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
} */
